<!-- templates/_base.html -->
<!--  Zephyr Yacht Solutions, Corp copyright 2022
      Author: Mary Knauth Visser
      Created: 2019
      Last modified: June 2022
-->
{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="yacht management, yacht agent, fort lauderdale, compliance, immigration, cruising permit">
    <meta name="description" content="Zephyr Yacht Solutions, a Supportive Management and Appointed Agent company, with over 20 years of industry experience, delivers superior support and bespoke solutions for your yachting journey. Serving both the East and West Coasts of the United States and the Bahamas, and backed by a vast global network, we offer comprehensive coverage for all yachting needs. Our unique captain-centric approach distinguishes us, as we empower captains to make informed decisions, facilitating their vision effectively. Choose Zephyr Yacht Solutions for an unparalleled yachting experience where your needs and preferences are our utmost priority."/>
    <title>{% block title %}Zephyr Yacht Solutions{% endblock title %}</title>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Static CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/mfo7eer.css">
    <script src="https://kit.fontawesome.com/85be1e9243.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.typekit.net/sll0vqo.css">
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143932765-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-143932765-2');
    </script>

</head>

<body>
<!-- Header and Navbar -->
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light header-bar" style="margin-bottom: 25px";>
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="/static/images/branding/ZYS_knot_dark_sm.png" class="d-inline-block align-top"> 
                <span class="font-trajan-pro text-site-title">Zephyr Yacht Solutions</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" href="{% url 'compliance' %}">Compliance <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" href="{% url 'concierge' %}">Concierge <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" href="{% url 'management' %}">Management <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" href="{% url 'contact' %}">Contact <span class="sr-only">(current)</span></a>
                    <!--<a class="nav-item nav-link active" href="{% url 'client' %}">Zeppelin <span class="sr-only">(current)</span></a>-->
                    <a class="nav-item nav-link active" href="https://www.yachtjobs247.com" target="_blank">Yacht Jobs 24|7<span class="sr-only">(current)</span></a>
                </div>
            </div>
        </nav>
    </header>

<!-- Main content to extend base -->
    <main>
    <div style="margin-top: 75px";>
    {% block content %}
    {% endblock content %}
    </div>
    </main>

<!-- Footer -->
    <footer>
	    <img src="/static/images/branding/ZYS_Circle_DB-01.png" alt="ZYS" class="footer-logo">
        <h6 class="text-footer">Licensed | Insured | Registered CBP ACE</h6>
        <img src="/static/images/content/CBP.png" alt="CBP" class="footer-logo">
        <hr>
	    <h6 class="text-footer"><a class="text-footer" href="tel:954.412.9280">954.412.9280</a> | <a class="text-footer" href="mailto:info@zephyrsolutions.us">info@zephyrsolutions.us</a></h6>
        <h5 class="text-footer">
            <a href="https://www.instagram.com/zephyryachtsolutions/" target="_blank"><i class="fab fa-instagram" style="color: #e6e6e6;"></i></a> 
            <a href="https://www.facebook.com/Zephyr-Yacht-Solutions-102578561983839" target="_blank"><i class="fab fa-facebook" style="color: #e6e6e6;"></i></a>
            <i class="fab fa-twitter"></i>
        </h5>
        <h6 class="text-footer">Website designed and developed by <a class="text-footer" href="https://daedalusdev.com/" target="_blank">Deadalus Dev Inc.</a></h6>
        <h6 class="text-footer">Copyright © 2019 Zephyr Yacht Solutions</h6>
    </footer>

<!-- Bootstrap Javascript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>