<!-- templates/_base.html -->
<!--  Zephyr Yacht Solutions, Corp copyright 2022
      Author: Mary Knauth Visser
      Created: 2019
      Last modified: June 2022
-->
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="yacht agent, fort lauderdale, compliance, immigration, cruising permit">
    <meta name="description" content="We provide simplified solutions for yachts entering US waters, as agents, we ensure 100% compliance with governing agencies.  We provide clearnace assistance, curising permits, and shoreside managment."/>
    <title>Zephyr Yacht Solutions | Yacht Agent USA</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="zys-css.css">
    <link rel="stylesheet" href="https://use.typekit.net/mfo7eer.css">
    <link rel="apple-touch-icon" href="favicon.gif" />
    <script src="https://kit.fontawesome.com/85be1e9243.js" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143932765-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-143932765-2');
    </script>

</head>

<body>
<!-- Header and Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="/images/branding/ZYS_icon_circle_dark.png" width="30" height="30" class="d-inline-block align-top"> 
                Zephyr Yacht Solutions
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="home.html">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" href="compliance.html">Compliance <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" href="concierge.html">Concierge <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" href="contact.html">Contact <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" href="write_review.html">Review <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" href="client.html">Client <span class="sr-only">(current)</span></a>
                </div>
            </div>
        </nav>
    </header>

<!-- Main content to extend base -->
    <main>
    {% block content %}
    {% endblock content %}
    </main>

<!-- Footer -->
    <footer>
	    <img class="footer-icon" src="pic_assets/brandingImages/ZYS_icon_circle_light.png" alt="ZYS Square Knot">
	    <h6 class="footerText"><a href="tel:954.412.9280" class="footerText">954.412.9280</a> | <a href="mailto:info@zephyrsolutions.us" class="footerText">info@zephyrsolutions.us</a></h6>
        <h6 class="footerText"><a class="social_media" href="https://www.instagram.com/zephyryachtsolutions/" target="_blank"><i class="fab fa-instagram"></i></a> <a class="social_media" href="https://www.facebook.com/Zephyr-Yacht-Solutions-102578561983839" target="_blank"><i class="fab fa-facebook"></i></a></h6>
	    <hr>
        <h6 class="footerText">Website designed and developed by <a href="https://daedalusdev.com/" target="_blank" class="daedalus_link">Deadalus Dev Inc.</a></h6>
        <h6 class="footerText">Copyright © 2019 Zephyr Yacht Solutions</h6>
    </footer>

<!-- Bootstrap Javascript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>