<!-- templates/compliance.html -->

{% extends "_base.html" %}

{% block title %}ZYS | Compliance{% endblock %}

{% block content %}
<div class="image-holder">
    <img src="/static/images/background/yacht_stern_oil.png" class="width_100_prc">
</div>

<div class="container box-1">
    <div class="container">
        <h1 class="tagline">Navigating Yacht Compliance</h1>
	    <hr>
	    <h2 class="tagline">Below is a comprehensive resource of maritime regulations relating to vessels, crew, and guests in the United States.  While this information is provided as open source information for yacht compliance, we still recommend consulting with us prior to your entry, to ensure all compulsory procedures are met.</h2>
    </div>
</div>
<br>
<br>
<div class="container box-2">
	<h3>Required Documents and Procedures</h3>
    <div class="container box-3">
        <h4 class="text-color-accent">Vessel Documents required:</h4>
        <ul>
            <li>Origonal Certificate of Registration</li>
            <li>Origonal previous port clearance</li>
            <li>Origonal Load Line Certificate</li>
            <li>Vessel's Crew List</li>
            <li>COFR  | Certificate of Financial Responsibility</li>
            <li>NTVRP | Non-Tank Vessel Response Plan</li>
        </ul>
    </div>

    <div class="container box-3">
        <h4 class="text-color-accent">Procedures and filings required:</h4>
            <ul>
                <li>CBP 1300 form | Entrance or Clearance</li>
                <li>CBP 1303 form | Ship's Stores</li>
                <li>CBP 1304 form | Crew Effects</li>
                <li>CBP 418 form | Crew List</li>
                <li>ENOAd | Electronic Notice of Arrival or Departure</li>
                <li>Cruising License Application</li>
                <li>Charter Affidavit</li>
            </ul>
        <p>If you do not have, or are missing, any documentation, we have the capacity to work with Flag State, Class Society, USCG, CBP, and numerous shore operated agencies, in order to ensure you are well prepared and in compliance prior to your arrival, and during your stay in US waters.</p>
        <p>Please fill in your vessel infomration on the <a href="email-form.html">contact page</a>, and we will be happy to work with you and provide a clear and concise plan going forward.</p>
	</div>
</div>

<hr class="container">

<div class="container box-2">
	<h3>Entry Procedures</h3>
    <div class="container box-3">
        <p>There are two main ways a foreign vessel may clear into USA waters, either a formal entrance in which the yacht deposits the ship’s original registration, or obtains a cruising permit.  While a cruising permit is the top choice for most vessels, there are certain stipulations which must be met in order to have a cruising permit approved.  Deposit of registration is extremely straight forward, and can be completed by just about any foreign flagged vessel.  We explore both of these procedures below.</p>
        <h4 class="text-color-accent">Cruising License</h4>
        <p>Cruising licenses are approved to foreign vessels which meet the following criteria:</p>
            <ul>
				<li>Vessel is operating on a private registration - not commercial</li>
				<li>Vessel is not actively offered for charter</li>
				<li>Vessel was built in the USA</li>
				<li>Owner is a USA citizen or has bonafide residence in the USA</li>
				<li>Owning company is registered in the USA</li>
				<li>Vessel has a preliminary itinerary cruising USA waters and several USA ports</li>
            </ul>
        <h4 class="text-color-accent">Deposit of Registration</h4>
        <p>Foreign vessels who do not qualify for a cruising permit, must file what is known as a CBP 1300 form, and deposit the ship’s original registration with the port office.  When the vessel is ready to depart, another CBP 1300 is filed, and the original registration is retrieved from the port office.  Once the outbound clearance is filed, the vessel has 48 hours in which to depart.</p>
        <h4 class="text-color-accent">ENOAd</h4>
        <p>Electronic Notice of Arrival and Departure is an electronic system which was set in place after Nine Eleven.  This is monitored by the National Vessel Movement Center, a collaboration between the US Coast Guard, and Customs and Border Patrol.  Foreign vessels entering USA waters, must file an arrival notice prior to their entrance.  While this is mandatory for vessels over 300 Gross Tons, it is strongly recommended for all foreign vessels.  For voyages greater than 24 hours, submission must be made 96 hours prior.  Voyages less than 24 hours, must be submitted 48 hours prior.  Departure submissions can be filed up to the time of departure, but 24 hours prior is recommend.</p>
    </div>
</div>

<hr class="container">

<div class="container box-2">
	<h3>Crew Immigration</h3>
	<div class="container box-3">
		<h4 class="text-color-accent">Visas</h4>
		<p>All foreign crew arriving into the USA, either on a yacht, or by plane, are required to have a valid visa.  Visas accepted for employed yacht crew are either a B1/B2 or C1D.  If you are arriving on your personal vessel, you may enter on an ESTA visa.  The table below indicates general information for visas, including the ships registration, and amount of time you may be stamped into the USA.</p>
		<div class="table">
			<table class="center-table">
			<tr>
				<th class="text-align-right">B1/B2</th>
				<th class="text-align-center">C1D</th>
				<th class="text-align-left">ESTA</th>
			</tr>
			<tr>
				<td class="text-align-right">Private Registration</td>
				<td class="text-align-center">Commercial Registration</td>
				<td class="text-align-left">Personal Vessel</td>
			</tr>
			<tr>
				<td class="text-align-right">Up to 6 months</td>
				<td class="text-align-center">Up to 29 days</td>
				<td class="text-align-left">Up to 90 days</td>
			</tr>
			</table>
		</div>
    </div>

    <div class="container box-3">
		<h4 class="text-color-accent">Immigration Procedures</h4>
		<p>In 2018, US Customs and Border Protection launched the CBP Roam App, this replaces the former procedure of calling Customs and getting an arrival number, after which the crew would attend the closet immigration office and be stamped in.  This App simplifies the process and reduces time immensely.</p>
        <ul>
			<li>Download the CBP Roam App onto your smartphone or tablet</li>
			<li>You will be required to create an account, recommend to use the vessel’s email for log-in purposes</li>
			<li>Enter vessel and voyage details</li>
			<li>Scan all passports for all souls on board</li>
			<li>Submit arrival and save your arrival number</li>
			<li>You will be connected with a CBP Officer via video phone call</li>
			<li>Officer will verify the information you submitted, and ask to view all souls on board this ship during the video call</li>
			<li>You will receive a push notification and email confirmation with further instructions</li>
			<li>Crew who are required to attend immigration office for passport stamps, have 24 hours to do so</li>
			<li>The information you entered in the App, will be stored in your account, making multiple future entires seamless</li>
        </ul>
        <p>Download the CBP Roam App is available here</p>
		<div>
			<a href="https://itunes.apple.com/us/app/cbp-roam/id1263234017?mt=8"><img src="/static/images/content/apple_app_store.png" alt="Apple Store" class="download-app-badge-apple"></a>
			<a href="https://play.google.com/store/apps/details?id=gov.dhs.cbp.app.oars&hl=en_US"><img src="/static/images/content/google-play-badge.png" alt="Google Play" class="download-app-badge-google"></a>
		</div>
	</div>
    <div class="container box-3">
		<h4 class="text-color-accent">Joining Crew</h4>
        <p>It is important to understand, if a foreign crew changes vessel of employment, it is highly recommend that crew member leave the USA, and return under the new vessel’s documentation.</p>
        <p>When joining a new vessel, the documents are recommend:</p>
        <ul>
			<li>Joining Letter from the vessel or shoreside agent</li>
			<li>Copy of the vessel’s registration</li>
			<li>Copy of the vessel’s cruising permit, if applicable</li>
			<li>Copy of the crew’s SEA or Employment Contract</li>
			<li>Copy of the vessel’s crew list</li>
        </ul>
    </div>
  </div>
</div>
{% endblock %}