<!-- templates/concierge.html -->

{% extends "_base.html" %}

{% block title %}ZYS | Concierge{% endblock %}

{% block content %}
<div class="image-holder">
    <img src="/static/images/background/Yacht_Bow_2_oil.png" class="width_100_prc">
</div>

<div class="box-inverse">
<div class="container box-1">
   <div class="container">
        <h1>Concierge & Shoreside Services</h1>
	    <hr>
	    <h2>Exceding not only your expectations, but your owner's and guest's also!</h2>
        <h2>Whether you need last minute guest requests, assistance with itinerary planning and marina bookings, we are here to help everything come together swiftly and efficiantly.</h2>
        <h2>With "feet on the ground" support, we make it happen.</h2>
    </div>
</div>
</div>

<div class="container box-2"> 
    <h3>Provisioning</h3>
    <div class="container box-3">
        <p>Sourcing fresh and dependable provisions while on charter can be stressfull and unknown, we have a network of local suppliers and wholesalers lining the East and West Coasts of the USA, as well as the Bahamas, ensuring that no matter where you are, your guests will be served top notch cuisine.&nbsp; </p>
        <p>We also understand the importance of client's wine and alcohol preferences, special hard to find vintages and wine selections, and recomendation are also our specialty.</p>
        <ul>
            <li>Fresh produce</li>
            <li>High quality meat and seafood</li>
            <li>Superior wine selection</li>
            <li>Nespresso capsuels and commercial machines</li>
        </ul>
    <img src="/static/images/content//provisions.jpeg" alt="" width="350" class="concierge-picture"/>
    </div>    
</div>   

<div class="container box-2"> 
    <h3>Transportation & Itineraries</h3>
    <div class="container box-3">
        <p>Let us help you plan an amazing itinerary for your guests, whether a trip through the Exumas and Caribbean, or historic tour of New England, we have you covered.  We can fully customize your itinerary based on draft constrictions and your guests preferances.  Private tour guides and shore excursions, and in-depth local knowledge make memorable vacations, we can also glam these up into beautiful print brocures for your guests to take home with them.</p>
            <ul>
                <li>Detailed and customized itineraries with graphic design</li>
                <li>Guest shore excursions and tours</li>
                <li>Oragnized guest ground and air transporation</li>
            </ul>
        <img src="/static/images/content/Itinerary_chart.png" alt="chart" width="350" class="concierge-picture"/>
    </div>
</div>

<div class="container box-2"> 
    <h3>Berthing, Bunkering & Pilotage</h3>
    <div class="container box-3">
        <p>Feel confident with our expertise in berth reservations based on activities and draft, whether picking up guests or undergoing shore repairs, we can assist in booking the appropiate berth at the best price.  If required, we can also arrange for 24 hr dock security, and port berths.</p>
        <p>Every port has different pilotage regulations, with experience on the East and West coast of the USA, we hold accounts with all major pilot associations and are well versed with their regulations and pilot captains.</p>
            <ul>
                <li>Berth reservations and logistics planning</li>
                <li>Pilotage corrodination</li>
                <li>World-wide bunkering network with preferred pricing</li>
            </ul>
        <img src="/static/images/content/pilot-boat.jpeg" alt="pilot boat" width="350" class="concierge-picture"/>
    </div>
</div>

<div class="container box-2"> 
    <h3>Logistical Support</h3>
    <div class="container box-3">
        <p>Whether you need to ship monthly accounting, ship's spares, consolidated freight, or last minute charter items, we make it happen seemlessly and effortlessy for you, your crew, and your guests!&nbsp; Most shipments to Bahamas are facilited via Cessna Caravan, we have teamed up with some of the best pilots and island brokers, to ensure your items arrive on time with care.</p>
        <ul>
            <li>Customs import and export clearance and logistics</li>
            <li>Pick up, consolidation, and delivery</li>
            <li>World wide service network</li>
        </ul>
        <img src="/static/images/content/cessna_caravan.png" width="350" alt="cessna" class="concierge-picture"/>
    </div>
</div>

{% endblock %}