<!-- templates/concierge.html -->

{% extends "_base.html" %}

{% block title %}ZYS | Concierge{% endblock %}

{% block content %}
<div class="image-holder">
    <img src="/static/images/background/Yacht_Bow_2_oil.png" class="width_100_prc">
</div>

<div class="box-inverse">
<div class="container box-1">
   <div class="container">
        <h1>Concierge &amp; Shoreside Services</h1>
	    <hr>
	    <h5>At Zephyr Yacht Solutions, we go above and beyond to exceed not only your expectations but also those of your owner and guests. 
        Whether you require last-minute guest requests or assistance with itinerary planning and marina bookings, our dedicated team is here 
        to ensure everything comes together swiftly and efficiently. With our "feet on the ground" support, we make it happen, providing 
        seamless coordination and exceptional service to enhance the overall yachting experience for all involved.</h5>
    </div>
</div>
</div>

<div class="container box-2"> 
    <h3>Provisioning</h3>
    <div class="container box-3">
        <p>When on charter, sourcing fresh and dependable provisions can often be a stressful and uncertain task. However, 
        at Zephyr Yacht Solutions, we have established a robust network of local suppliers and wholesalers spanning the East 
        and West Coasts of the USA, as well as the Bahamas. This ensures that no matter where you are, your guests will be 
        treated to top-notch cuisine made from the finest ingredients. Moreover, we understand the significance of our clients' 
        wine and alcohol preferences. Our expertise extends to procuring special and hard-to-find vintages and curating 
        exceptional wine selections. Trust us to provide recommendations that perfectly complement your culinary experiences 
        and elevate your onboard indulgences.</p>
        <ul>
            <li>Fresh produce</li>
            <li>High quality meat and seafood</li>
            <li>Superior wine selection</li>
            <li>Nespresso capsules and commercial machines</li>
        </ul>
    <img src="/static/images/content//provisions.jpeg" alt="" width="350" class="concierge-picture"/>
    </div>    
</div>   

<div class="container box-2"> 
    <h3>Transportation &amp; Itineraries</h3>
    <div class="container box-3">
        <p>Allow us to assist you in planning an unforgettable itinerary for your guests, tailored to their preferences and the specific 
        draft constraints of your yacht. Whether you desire a captivating journey through the picturesque Exumas and Caribbean or a 
        historic tour of New England's charming coastal towns, Zephyr Yacht Solutions has you covered. Our team specializes in fully 
        customizing itineraries to create unique and personalized experiences. With our extensive local knowledge, we can arrange 
        private tour guides, unforgettable shore excursions, and showcase the hidden gems of each destination. To add an extra touch 
        of elegance, we can even transform these itineraries into beautiful print brochures for your guests to cherish as a keepsake 
        of their remarkable vacation. Trust us to create truly memorable moments for your guests, leaving them with cherished memories that will last a lifetime.</p>
            <ul>
                <li>Detailed and customized itineraries with graphic design</li>
                <li>Guest shore excursions and tours</li>
                <li>Oragnized guest ground and air transporation</li>
            </ul>
        <img src="/static/images/content/Itinerary_chart.png" alt="chart" width="350" class="concierge-picture"/>
    </div>
</div>

<div class="container box-2"> 
    <h3>Berthing, Bunkering &amp; Pilotage</h3>
    <div class="container box-3">
        <p>Rest assured knowing that our team at Zephyr Yacht Solutions is well-versed in berth reservations, taking into consideration your activities and draft requirements. Whether you're picking up guests or undergoing shore repairs, we can assist in booking the appropriate berth at the best available price. Additionally, if needed, we can arrange for 24-hour dock security and secure port berths to ensure the safety and convenience of your yacht.</p>
        <p>Understanding that each port has unique pilotage regulations, we bring our extensive experience from the East and West coasts of the USA to the table. We maintain accounts with all major pilot associations and possess in-depth knowledge of their regulations and pilot captains. With this expertise, we navigate the intricacies of pilotage seamlessly, ensuring compliance and a smooth passage for your vessel.and are well versed with their regulations and pilot captains.</p>
        <p>Count on Zephyr Yacht Solutions to handle your berth reservations and pilotage requirements with utmost professionalism and efficiency, allowing you to focus on enjoying a hassle-free and extraordinary yachting experience.</p>    
            <ul>
                <li>Berth reservations and logistics planning</li>
                <li>Pilotage corrodination</li>
                <li>World-wide bunkering network with preferred pricing</li>
            </ul>
        <img src="/static/images/content/pilot-boat.jpeg" alt="pilot boat" width="350" class="concierge-picture"/>
    </div>
</div>

<div class="container box-2"> 
    <h3>Logistical Support</h3>
    <div class="container box-3">
        <p>At Zephyr Yacht Solutions, we excel in handling various shipping needs seamlessly and effortlessly for you, your crew, and your guests. Whether it's monthly accounting documents, ship's spares, consolidated freight, or last-minute charter items, we have you covered. When it comes to shipments to the Bahamas, we have established partnerships with some of the best pilots and island brokers in the industry. This allows us to facilitate efficient and timely deliveries via Cessna Caravan or waterplane, ensuring that your items arrive on schedule and in perfect condition. Trust us to handle your shipping logistics with care and precision, so you can focus on enjoying your yachting experience without any worries or delays.</p>
        <ul>
            <li>Customs import and export clearance and logistics</li>
            <li>Pick up, consolidation, and delivery</li>
            <li>World wide service network</li>
        </ul>
        <img src="/static/images/content/cessna_caravan.png" width="350" alt="cessna" class="concierge-picture"/>
    </div>
</div>

{% endblock %}