<!-- templates/contact.html -->

{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}ZYS | Contact{% endblock %}

{% block content %}
<div class="image-holder">
    <img src="/static/images/background/Yacht_stern_2_oil.png" class="width_100_prc">
</div>

<div class="container block-content-size">
    <div class="container box-1">
        <div class="container box-2">
            <h4>Thank you, we have received your message!</h4>
        </div>
    </div>

</div>
{% endblock %}