<!-- templates/contact.html -->

{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}ZYS | Contact{% endblock %}

{% block content %}
<div class="image-holder">
    <img src="/static/images/background/yacht_stern_2_oil.png" class="width_100_prc">
</div>

<div class="container block-content-size">
    <div class="container box-1">
        <div class="container box-2">
            <h4>Whether you are seeking advice on procedures, or you need an agent on the ground to execute your clearances, 
            we are here to help simplify the process, and ensure 100% compliannce with local authoritative governing agencies.  
            Our goal and purpose is to eliminate the time and stress of clearances and logistics.</h4>
        </div>
    </div>

    <!-- Form -->
    <div class="container box-2">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-actions">
                <button class="submit" type="submit">Send</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}