<!-- templates/contact.html -->

{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}ZYS | Contact{% endblock %}

{% block content %}
<div class="image-holder">
    <img src="/static/images/background/yacht_stern_oil_03.png" class="width_100_prc">
</div>

<div class="box-inverse">
    <div class="container box-1">
        <div class="container">
            <h1  class="font-trajan-pro" style="font-weight: 200;">Contact Us</h1>
            <hr>
            <h4 class="tagline">Embark on Excellence: Reach Out Today.</h4> 
        </div>
    </div>
</div>

<div class="container block-content-size">
    <div class="container box-1">
        <div class="container box-2">
            <h4>Should you be interested in exploring opportunities as a management client or require assistance with engaging an appointed agent, please do not hesitate to contact us. Our dedicated team at Zephyr Yacht Solutions is available to guide you through the process, ensuring that your unique needs are met with precision and professionalism.</h4>
        </div>
    </div>

    <!-- Form -->
    <div class="container box-2">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-actions">
                <button class="submit" type="submit">Send</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}