<!-- templates/home.html -->

{% extends "_base.html" %}

{% block title %}ZYS | Welcome{% endblock %}

{% block content %}

<div class="image-holder">
    <img src="/static/images/background/Yacht_Bow_oil.png" class="width_100_prc">
</div>
<div class="container block-content-size">
    <div class="container">
        <h4 class="">Zephyr Yacht Solutions has over 20 years experience in the yachting industry, we bring you superior support every inch of the way.
        We provide simplified solutions and seamless support for your yachting needs, spanning the East and West Coasts of the United States, and networking resources in Bahamas and Caribbean.
        </h4>
        <br>
        <div class="container">
			<h1 class="font-trajan-pro" style="font-weight: 200;">USA Yacht Agent</h1>
			<hr>
			<h3>Providing comprehensive support to ensure yachts are in compliance with governing authorities</h3>
            <div class="container">
                <ul class="">
                    <li>Vessel entrance / clearance</li>
                    <li>Cruising Permits</li>
                    <li>Crew Immigration</li>
                    <li>Concierge Services</li>
                    <li>Logistics support</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="container">
            <h1 class="font-trajan-pro" style="font-weight: 200;">Yacht Management</h1>
            <hr>
            <h3>Offering yacht management that supports your needs and your expectations</h3>
            <div class="container">
                <ul class="">
                    <li>Vessel registration and compliance</li>
                    <li>Document management and ISM filing</li>
                    <li>Shoreside assistance</li>
                    <li>Accounts reconciling and reporting</li>
                </ul>    
            </div>
        </div>
    </div>
</div>
{% endblock %}