<!-- templates/home.html -->

{% extends "_base.html" %}

{% block title %}ZYS | Welcome{% endblock %}

{% block content %}

<div class="image-holder">
    <img src="/static/images/background/Yacht_Bow_oil.png" class="width_100_prc">
</div>

<div class="box-inverse">
    <h4 class="">Zephyr Yacht Solutions has over 20 years experience in the yachting industry, we bring you superior support every inch of the way.</h4>
    <h4>We provide simplified solutions and seamless support for your yachting needs</h4> 
    <h4>Spanning the East and West Coasts of the United States and Bahamas, and networking resources globaly, we have you covered.</h4>
</div>

<div class="container block-content-size">
    <div class="container">
        <h2 class="font-trajan-pro" style="font-weight: 200;">USA Yacht Agent</h2>
        <hr>
        <h5>Providing comprehensive support to ensure yachts are in compliance with governing authorities</h5>
        <div class="container">
            <ul class="">
                <li>Vessel entrance / clearance</li>
                <li>Cruising Permits</li>
                <li>Crew Immigration</li>
                <li>Concierge Services</li>
                <li>Logistics support</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="container">
        <h2 class="font-trajan-pro" style="font-weight: 200;">Yacht Management</h2>
        <hr>
        <h5>Offering yacht management that supports your needs and your expectations</h5>
        <div class="container">
            <ul class="">
                <li>Vessel registration and compliance</li>
                <li>Document management and ISM filing</li>
                <li>Accounts reconciling and reporting</li>
                <li>Full administrative support</li>
                <li>Shoreside assistance</li>
            </ul>    
        </div>
    </div>
</div>
{% endblock %}