<!-- templates/home.html -->

{% extends "_base.html" %}

{% block title %}Zeppelin | Welcome{% endblock %}

{% block content %}
<div class="main-hidden">
	<img src="pic_assets/backGroundImages/Yacht_Bow_oil.png" alt="yacht" class="mobile-pic">
</div>
<div class="heading-box">
    <div class="body-paragraph">
				<h1 class="tagline">USA Yacht Agent</h1>
				<hr>
				<h2 class="tagline">As a yacht agent, we provide Simplified Solutions for your yachting needs, spanning the East and West Coasts of the United States, and networking resources in Bahamas and Caribbean.</h2>
    </div>
</div>
<div class="heading-box mobile-inverse-dark">
    <div class="body-paragraph">
            <h2 class="tagline">While our primary focus is centered on yacht comliance, we also provide expert services for:</h2>
               <ul class="inline-padding-null">
                  <li class="subTagLine">- Concierge Services -</li>
                  <li class="subTagLine">Documentation Management</li>
                  <li class="subTagLine">Financial Management & Reporting</li>
               </ul>
    </div>
</div>

<div class="heading-box-2">
  <div class="body-paragraph">
    <h3 class="grid-card-title">How can you benefit from a yacht agent?</h3>
    <p>Bringing a foreign flagged vessel into the USA can be a stressful task.  There are numerous form to fill out, and sometimes it's not clear which ones you need to fill out.  There are different requirements and different processes which depend on the vessel's flag state, registration, and tonnage.  Here, we simplify an encyclopedia of information, and help make the process easier to understand, and easier to be in compliance.</p>
    <p>Whether you are a 50 foot private sailboat, or a 200 foot commercial yacht, our easy step-by-step process will ensure you have the customized accurate information to enter and travel throughout the USA.</p>
    <p>
      <ul>
        <li>Vessel Entrance, Clearance, and Permission to Proceed</li>
        <li>Cruising Permits</li>
        <li>Vessel registration and compliance</li>
        <li>Document management and ISM filing</li>
        <li>Crew Immigration</li>
        <li>Concierge Services for charters</li>
        <li>Shipping and receiving parts</li>
        <li>Shoreside assistance</li>
      </ul>
    </p>
  </div>
</div>

<div class="heading-box-2">
   <div class="parallax-1" id="no-border">
      <h3 class="grid-card-title">Quick References for entering the USA</h3>
      <div class="grid">
         <div class="item-1 grid-card">
            <a href="index-procedures.html#entrance">
               <p class="text-card" color="#253ES9">VESSEL</p>
               <p class="text-card-icon" color="#253ES9"><i class="fas fa-ship"></i></p>
            </a>
         </div>

         <div class="item-2 grid-card-r">
            <a href="index-procedures.html#immigration">
               <p class="text-card">CREW</p>
               <p class="text-card-icon"><i class="fas fa-user-friends"></i></p>
            </a>
         </div>
      </div>
   </div>
</div>
{% endblock %}