<!-- templates/management.html -->

{% extends "_base.html" %}

{% block title %}ZYS | Management{% endblock %}

{% block content %}
<div class="image-holder">
    <img src="/static/images/background/Yacht_Bow_2_oil.png" class="width_100_prc">
</div>

<div class="box-inverse">
    <div class="container box-1">
        <div class="container">
            <h1  class="font-trajan-pro" style="font-weight: 200;">Supportive Management</h1>
            <hr>
            <h4 class="tagline">Empowering Captains. Enabling Excellence.</h4> 
            <h4 class="tagline">Unwavering support through a collaborative environment.  ZYS is your partner in Yacht Success.</h4>
        </div>
    </div>
</div>
<br>
<br>
<div class="container box-2">
	<h5>Zephyr Yacht Solutions stands out from other management companies by emphasizing a captain-centric approach. 
    Unlike firms that impose strict rules and dictate operational procedures, our philosophy revolves around empowering 
    the captain and respecting their authority in decision-making. We firmly believe that the captain's expertise and 
    judgment are crucial for the successful operation of the vessel. At Zephyr Yacht Solutions, our role is to provide 
    unwavering support and assistance to the captain, facilitating their decisions and ensuring their vision is realized 
    effectively. We strive to foster a collaborative environment where the captain's leadership is honored, and our services 
    are tailored to meet their specific needs and preferences.</h5>
    <br>
    <div class="container box-3">
        <h4 class="text-color-accent">Supportive Management is...</h4>
        <ul>
            <li>Designated Person Ashore &#40;DPA&#41;</li>
                <ul>
                    <li>24/7 Shore and emergancy contact</li>
                    <li>Central contact for USCG and CBP</li>
                    <li>Ensure adequate resources are availble and applied</li>
                </ul>
            <li>Document Management</li>
                <ul>
                    <li>Digital organization of all vessel's documents and certificates</li>
                    <li>On time renewals for all vessel documents and certificates</li>
                    <li>Liaison with Flag / Class ensuring 100% compliance</li>
                </ul>
            <li>Crew Support</li>
                <ul>
                    <li>SEA Generation compliant with Flag</li>
                    <li>Professional Yacht Crew Insurance</li>
                    <li>Crew Placement via <a href="https://www.yacht-jobs247.com" target="_blank">Yacht Jobs 24|7</a></li>
                </ul>
            <li>Financial Support</li>
                <ul>
                    <li>Reconciliation of ship's banking, cards, and petty cash</li>
                    <li>APA reconciliation</li>
                    <li>Crew payroll</li>
                </ul>
            <li>Accounting Reports</li>
                <ul>
                    <li>Annual budget planning with refit expenditures</li>
                    <li>Monthly account returns with detailed expenditures</li>
                    <li>Cash flow reporting</li>
                </ul>
            <li>Appointed Agent Services</li>
                <ul>
                    <li>All fees for entrances / clearances / filings - INCLUDED in retainer</li>
                    <li>Annual USA Cruising License fee included</li>
                    <li>Bahamas Cruising Permits fees included</li>
                </ul>
            <li>Access to <span class="zeppelin-text">ZeppelinCloud Web App</span></li>
                <ul>
                    <li>Upload and store all vessel and crew documents and certificates</li>
                    <li>Advanced technology to read and store variable data from uploads</li>
                    <li>Integrated time sensors for automatic status push messages</li>
                    <li>Drag &amp; Drop crew / guest lists from database &#40;no more copy & paste in excel!&#41;</li>
                </ul>
        </ul>
    </div>
</div>
<br>
<br>

{% endblock content %}