<!-- templates/management.html -->

{% extends "_base.html" %}

{% block title %}ZYS | Management{% endblock %}

{% block content %}
<div class="image-holder">
    <img src="/static/images/background/yacht_stern_oil.png" class="width_100_prc">
</div>

<div class="box-inverse">
<div class="container box-1">
    <div class="container">
        <h1 class="tagline">Supportive Management</h1>
	    <hr>
	    <h2 class="tagline">Zephyr Yacht Solutions is excited to offer management services in addtion to our core Yacht Agent services.</h2>
    </div>
</div>
</div>
<br>
<br>
<div class="container box-2">
	<h5>Our goal and fundamental purpose is to provide supportive assistance to Captains and Owners that are seeking administrative, logistical, and organizational support, without the high overhead many large scale management companies have.
        Here, we listen to what you need, and how you want support to be supported.</h5>
    <br>
    <div class="container box-3">
        <h4 class="text-color-accent">Supportive Management is...</h4>
        <ul>
            <li>Access to <span class="zeppelin-text">ZeppelinCloud</span></li>
            <li>Dedicated 24/7 DPA</li>
            <li>Financial reconciliation</li>
            <li>Comprehensive budget reports</li>
            <li>Agent services are included</li>
        </ul>
    </div>
</div>
<br>
<br>

{% endblock content %}