<!-- templates/management.html -->

{% extends "_base.html" %}

{% block title %}ZYS | Management{% endblock %}

{% block content %}
<div class="image-holder">
    <img src="/static/images/background/yacht_stern_oil.png" class="width_100_prc">
</div>

<div class="box-inverse">
<div class="container box-1">
    <div class="container">
        <h1 class="tagline">Supportive Management</h1>
	    <hr>
	    <h2 class="tagline">Zephyr Yacht Solutions is excited to offer management services in addtion to our core Yacht Agent services.</h2>
    </div>
</div>
</div>
<br>
<br>
<div class="container box-2">
	<h5>Our goal and fundamental purpose is to provide supportive assistance to Captains and Owners that are seeking administrative, logistical, and organizational support, without the high overhead many large scale management companies have.
        Here, we listen to what you need, and how you want support to be supported.</h5>
    <br>
    <div class="container box-3">
        <h4 class="text-color-accent">Supportive Management is...</h4>
        <ul>
            <li>Designated Person Ashore (DPA)</li>
                <ul>
                    <li>24/7 Shore and emergancy contact</li>
                    <li>Central contact for USCG and CBP</li>
                    <li>Ensure adequate resources are availble and applied</li>
                </ul>
            <li>Document Management</li>
                <ul>
                    <li>Digital organization of all vessel's documents and certificates</li>
                    <li>On time renewals for all vessel documents and certificates</li>
                    <li>Liaison with Flag / Class ensuring 100% compliance</li>
                </ul>
            <li>Financial Support</li>
                <ul>
                    <li>Reconciliation of ship's banking, cards, and petty cash</li>
                    <li>APA reconciliation</li>
                    <li>Crew payroll</li>
                </ul>
            <li>Accounting Reports</li>
                <ul>
                    <li>Annual budget planning with refit expenditures</li>
                    <li>Monthly account returns with detailed expenditures</li>
                    <li>Cash flow reporting</li>
                </ul>
            <li>Appointed Agent Services</li>
                <ul>
                    <li>All fees for entrances / clearances / filings - INCLUDED in retainer</li>
                    <li>Annual USA Cruising License fee included</li>
                    <li>Bahamas Cruising Permits fees included</li>
            <li>Access to <span class="zeppelin-text">ZeppelinCloud</span></li>
                <ul>
                    <li>Upload and store all vessel and crew documents and certificates</li>
                    <li>Advanced technology to read and store variable data from uploads</li>
                    <li>Integrated time sensors for automatic status push messages</li>
                    <li>Drag & Drop crew / guest lists from database (no more copy & paste in excel!)</li>
                </ul>
        </ul>
    </div>
</div>
<br>
<br>

{% endblock content %}